body {
	font-family: 'Open Sans';
}
a {
	text-decoration: none;
	color: #000;
}
hr {
	margin: 0 5vw;
}
header {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
	background-color: #FFF;
	margin: 0 auto;
	padding: 8px 6px;
	box-sizing: border-box;
	z-index: 100;
}
.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 10px;
}
.logo-image {
	width: 53px;
	height: 44px;
	background: url('../img/photos/logo.jpg') no-repeat center center;
	background-size: cover;
}
.logo-text {
	margin: 0 12px;
}
.header-logo-text {
	display: none;
}
.logo-text-upper {
	font-family: 'Open Sans';
	font-size: 12px;
	line-height: 1.7;
	letter-spacing: 0.7px;
	color: #000;
	font-weight: 600;
}
.logo-text-lower {
	display: block;
	font-family: 'Playfair Display';
	font-size: 18px;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: 1.5px;
	color: #806020;
}
.compact {
	width: 98px;
}
.nav-button {
	display: block;
	width: 44px;
	height: 44px;
	background: url('../img/icons/menu.svg') no-repeat center center;
	background-size: cover;
	transition: 0.3s;
}
.nav-button:hover {
	border-radius: 10px;
	background-color: #bbb;
}
.nav-button:active {
	transform: scale(0.9);
}
.close {
	background: url('../img/icons/close.svg') no-repeat center center;
}
nav {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin-top: 60px;
}
nav ul {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 85%;
	padding-bottom: 15%;
	background-color: #fff;
	border-top: 1px solid #f2f2f2;
}
nav li {
	
}
nav a {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.8px;
	color: #000;
	transition: 0.3s;
}
nav a:hover {
	color: #806020;
}
.header-hr {
	display: none;
}
.events-content, .books-content, .articles-content, .projects-content, .contacts-content, .club-writers-content, .books-popular-content {
	display: flex;
	flex-direction: column;
	padding: 60px 5vw;
	max-width: 1224px;
	margin: 0 auto;
}
.organization-wrap {
	display: flex;
	align-items: flex-start;
	max-width: 1224px;
	margin: 0 auto;
	padding: 0 5vw;
}
.organization-content {
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
}
.sidebar {
	display: none;
}
.events-sidebar, .projects-sidebar {
	padding: 24px;
	margin-bottom: 24px;
}
.projects-sidebar-content {
	margin-top: 26px;
}
.projects-sidebar-content span {
	display: block;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6;
	margin-bottom: 10px;
}
.events-sidebar-block {
	display: flex;
	margin-top: 24px;
	transition: box-shadow, background-color, 0.3s;
}
.events-sidebar-block:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.1);
}
.events-sidebar-image {
	width: 80px;
	height: 84px;
	flex-shrink: 0;
	margin-right: 16px;
}
.events-image-1 {background: url(../img/photos/events-1.jpg) no-repeat center center; background-size: cover;}
.events-image-2 {background: url(../img/photos/events-2.jpg) no-repeat center center; background-size: cover;}
.events-image-3 {background: url(../img/photos/events-3.jpg) no-repeat center center; background-size: cover;}
.events-image-4 {background: url(../img/photos/events-4.jpg) no-repeat center center; background-size: cover;}
.events-sidebar-text-container {
	width: 200px;
	height: 84px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.events-sidebar-text {
	width: 200px;
	height: 60px;
	font-weight: bold;
	line-height: 1.3;
	color: #000;
	overflow: hidden;
	/*text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;*/ 
}
.events-sidebar-date {
	font-size: 14px;
	color: #777;
}
.events-sidebar-date:before {
	display: inline-block;
	content: '';
	width: 11px;
	height: 11px;
	background: url('../img/icons/articles-date.svg') no-repeat center center;
	margin-right: 8px;
}

.post {
	width: 100vw;
}
.post-wrap {
	max-width: 1224px;
	margin: 0 auto;
	padding: 0 5vw;
}
.post-content {
	display: flex;
	flex-direction: column;
	padding-bottom: 60px;
}
.post-article p {
	margin: 24px 0;
}
.post-article img {
	max-width: 100%;
}
.post-caption {
	display: block;
	margin: 12px 0;
	font-size: 14px;
	color: #777;
}
.post-comments {
	margin-top: 60px;
}
.post-content .hr {
	margin-top: 60px;
	width: 100%;
}
.post-content .hr-content {
	padding: 0;
}
.post-comments-block {
	display: grid;
	grid-template-columns: 80px auto;
	grid-column-gap: 16px;
	grid-row-gap: 12px;
	grid-template-areas: 
		"avatar name"
		"text text";
	margin: 26px 0 60px 0;
	max-width: 800px;
}
.avatar {
	width: 80px;
	height: 80px;
	grid-area: avatar;
}
.post-comments-info {
	display: flex;
	flex-direction: column;
	grid-area: name;
}
.post-comments-block p {
	grid-area: text;
}
.post-comments-author {
	display: inline-block;
	font-weight: bold;
	line-height: 1.5;
}
.post-comments-date {
	display: inline-block;
	margin-top: 8px;
	font-size: 14px;
	color: #BBB;
}
.post-comments-form {
	max-width: 600px;
}
.post-comments-form form {
	display: grid;
	grid-template-rows: 40px 40px auto 40px;
	grid-row-gap: 24px;
	margin-top: 26px;
}
.comments-name, .comments-email {
	width: 100%;
	height: 40px;
	padding: 9px 12px;
	box-sizing: border-box;
	border: 1px solid #bbb;
	transition: border 0.2s;
}
input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}
.comments-text {
	width: 100%;
	height: 84px;
	padding: 9px 12px;
	box-sizing: border-box;
	border: 1px solid #bbb;
	transition: border 0.2s;
}
.comments-name:hover, .comments-email:hover, .comments-text:hover {
	border: 1px solid #99b5ca;
}
.comments-name:focus, .comments-email:focus, .comments-text:focus {
	border: 1px solid #356d97;
}
.comments-submit {
	width: 140px;
	height: 40px;
	border: 1px solid #356d97;
	border-radius: 20px;
	background-color: #fff;
	font-size: 14px;
	font-weight: bold;
	color: #356d97;
	text-transform: uppercase;
	transition: 0.3s;
}
.comments-submit:disabled {
	border-color: #6891b0;
	color: #6891b0;
}
.comments-submit:hover:enabled, .book-button:hover:enabled {
	background-color: #356d97;
	color: #fff;
}
.book-button:hover:enabled span {
	color: #fff;
}

.main {
	width: 100vw;
	margin-top: 60px;
	background: url(../img/bg/main.jpg) no-repeat center center;
	background-size: cover;
}
.main-content {
	display: flex;
	flex-direction: column;
	padding: 50px 5vw;
}
h4 {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5;
	margin: 12px 0;
}
h3 {
	font-family: 'Playfair Display';
	font-weight: 900;
	line-height: 1.5;
	letter-spacing: 2.6px;
	text-transform: uppercase;
	color: #806020;
}
h3:after {
	content: '';
	display: block;
	width: 36px;
	height: 2px;
	margin-top: 8px;
	background-color: #806020;
}
h2 {
	font-family: 'Playfair Display';
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
}
h1 {
	font-family: 'Playfair Display';
	font-size: 36px;
	font-weight: bold;
	line-height: 1.44;
	letter-spacing: 0.8px;
	margin: 14px 0;
	color: #000;
	word-wrap: break-word;
}
p {
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 1.5;
}

.position {
	margin-top: 60px;
	width: 100vw;
}
.position-content {
	max-width: 1224px;
	margin: 0 auto;
	padding: 36px 5vw;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.position-text {
	color: #777;
}
.position-text:not(:last-child):after {
	display: inline-block;
	content: '';
	margin: 2px 12px;
	width: 4px;
	height: 8px;
	background: url('../img/icons/position-arrow.svg') no-repeat center center;
	background-size: cover;
}

.about, .organization, .club, .club-writers {
	width: 100vw;
}
.about-content {
	display: grid;
	grid-template-columns: 100%;
	grid-row-gap: 36px;
	padding: 60px 5vw;
	max-width: 1224px;
	margin: 0 auto;
}
.about-slider {
	max-width: 600px;
	width: 100%;
	justify-self: center;
}
.about-slider img {
	max-width: 100%;
	max-height: 100%;
}
.about-article, .organization-article, .club-article {
	display: flex;
	flex-direction: column;
}
.organization-article img {
	max-width: 100%;
	max-height: 100%;
	margin: 36px 0;
}
.more-link {
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	color: #356d97;
	margin: 24px 0;
}
.more-link:after {
	display: inline-block;
	content: '';
	margin-left: 12px;
	width: 0.7em;
	height: 0.7em;
	background: url('../img/icons/link-arrow.svg') no-repeat center center;
	background-size: cover;
}
.show-more-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 24px;
	width: 100%;
	height: 42px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	color: #333;

}

.events {
	width: 100vw;
}
.events-block {
	width: 256px;
	height: 84px;
}
.events-container {
	display: grid;
	grid-template-columns: repeat(1, 100%);
	grid-gap: 24px;
	/*display: flex;
	flex-direction: column;*/
	margin-top: 26px;
}
.events-block-image {
	display: flex;
	flex-direction: column;
	height: 231px;
	padding: 12px 16px;
	color: #fff;
	/*margin-bottom: 32px;*/
}
.events-image-dark-1 {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75)), url(../img/photos/events-1.jpg) no-repeat center center;
	background-size: cover;
}
.events-image-dark-2 {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75)), url(../img/photos/events-2.jpg) no-repeat center center;
	background-size: cover;
}
.events-image-dark-3 {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75)), url(../img/photos/events-3.jpg) no-repeat center center;
	background-size: cover;
}
.events-block-image h2 {
	margin-top: auto;
}
.events-image-date {
	font-size: 14px;
	color: #fff;
	line-height: 1.3;
	margin-top: 8px;
}
.events-image-date:before {
	display: inline-block;
	content: '';
	width: 11px;
	height: 11px;
	background: url('../img/icons/articles-date-white.svg') no-repeat center center;
	margin-right: 8px;
}
.events-block-text {
	display: flex;
	flex-direction: column;
	min-height: 245px;
}
.events-text-date {
	font-size: 14px;
	color: #777;
	margin-top: 8px;
}
.events-text-date:before {
	display: inline-block;
	content: '';
	width: 11px;
	height: 11px;
	background: url('../img/icons/articles-date.svg') no-repeat center center;
	margin-right: 8px;
}
.events-text-date:after {
	content: '';
	display: block;
	width: 36px;
	height: 1px;
	margin-top: 10px;
	background-color: rgba(128, 96, 32, 0.25);
}
.events-block-text p {
	text-overflow: ellipsis;
	overflow: hidden;
	/*white-space: nowrap;*/
	-webkit-box-orient: vertical;
	margin: 20px 0;
}
.show-more {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 42px;
	margin-top: 36px;
}
.show-more span {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
.m-short a:nth-child(1n+4) {
	display: none;
}

.post-date {
	display: inline-block;
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 1.7;
	color: #999;
}
.post-date:before {
	display: inline-block;
	content: '';
	width: 11px;
	height: 11px;
	background: url('../img/icons/articles-date.svg') no-repeat center center;
	margin-right: 8px;
}

.materials {
	width: 100vw;
}
.materials-content {
	display: flex;
	flex-direction: column;
}
.books-content, .articles-content {
	width: 100%;
	box-sizing: border-box;
}
.books-slider {
	display: flex;
	justify-content: space-between;
	margin: 24px 0;
	height: 260px;
}
.books-popular-slider {
	margin: 24px 0;
}
.books-slide {
	display: flex !important;
	flex-direction: column;
	justify-content: flex-end;
	margin-right: 24px;
	width: 172px;
	height: 260px;
}
.books-block {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
	width: 184px;
	min-height: 340px;
	transition: 0.3s;
}
.books-popular-slider .books-block {
	margin-right: 24px;
}
.books-image-block {
	margin-bottom: 24px;
	width: 184px;
	height: 260px;
	transition: 0.3s;
}
.books-image-1 {background: url('../img/photos/books-1.jpg') no-repeat center center; background-size: cover;}
.books-image-2 {background: url('../img/photos/books-2.jpg') no-repeat center center; background-size: cover;}
.books-image-3 {background: url('../img/photos/books-3.jpg') no-repeat center center; background-size: cover;}
.books-image-4 {background: url('../img/photos/books-4.jpg') no-repeat center center; background-size: cover;}
.books-image-5 {background: url('../img/photos/books-5.jpg') no-repeat center center; background-size: cover;}
.books-image-6 {background: url('../img/photos/books-6.jpg') no-repeat center center; background-size: cover;}
.books-slide-overlay {
	background-color: rgba(0, 0, 0, 0.35);
	padding: 12px 16px 8px 16px;
}
.books-slide-title {
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 8px;
}
.books-slide-author {
	display: block;
	font-size: 14px;
	font-style: italic;
	line-height: 1.4;
	opacity: 0.75;
}
.books-slide-overlay-title {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 8px;
	color: #fff;
}
.books-slide-overlay-author {
	display: inline-block;
	font-size: 14px;
	font-style: italic;
	color: #fff;
	opacity: 0.75;
}
.books-popular-content {
	padding-bottom: 0;
}
.books-wall {
	width: 100vw;
}
.books-wall-content {
	padding: 60px 5vw;
	max-width: 1224px;
	margin: 0 auto;
}
/* Вкладки */
.books-wall-tabs {
	display: flex;
}
.books-wall-content input {
	display: none;
}
.books-wall-content label {
	display: inline-block;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	padding: 8px 0;
	margin-right: 28px;
	border-bottom: 2px solid #fff;
	cursor: pointer;
	transition: 0.3s;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
.books-wall-content label:hover {
	border-bottom: 2px solid #6892af;
}
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.books-wall-content label:last-child {
	margin-right: 0;
}
.books-wall-content input:checked + label {
	border-bottom: 2px solid #356d97;
}
#tab-1:checked ~ #tab-content-1, #tab-2:checked ~ #tab-content-2, #tab-3:checked ~ #tab-content-3 {
	display: grid;
}
.books-wall-list {
	display: none;
	grid-template-columns: repeat(auto-fit, 136px);
	grid-column-gap: 16px;
	margin-top: 26px;
	max-height: 1080px;
	overflow: hidden;
	animation: fadeIn 1s ease;
}
.books-wall-list .books-block {
	width: 136px;
}
.books-wall-list .books-image-block {
	width: 136px;
	height: 192px;
}
.book-content {
	display: grid;
	grid-template-columns: auto;
	padding: 60px 5vw;
	max-width: 1224px;
	margin: 0 auto;
}
.articles-slider {
	display: flex;
	margin: 18px 0;
	width: 100%;
	min-height: 260px;
}
.articles-slide {
	margin-right: 24px;
}
.articles-date {
	display: inline-block;
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 1.7;
	color: #999;
	margin: 8px 0;
}
.articles-date:before {
	display: inline-block;
	content: '';
	width: 11px;
	height: 11px;
	background: url('../img/icons/articles-date.svg') no-repeat center center;
	margin-right: 8px;
}
.articles-date:after {
	content: '';
	display: block;
	width: 36px;
	height: 1px;
	margin-top: 8px;
	background-color: rgba(128, 96, 32, 0.25);
}
.articles-text {
	margin: 12px 0;
}

.projects {
	width: 100vw;
}
.projects-wall {
	display: grid;
	grid-template-columns: repeat(auto-fit, 288px);
	grid-gap: 24px;
	/*display: flex;
	flex-wrap: wrap;
	justify-content: space-between;*/
	margin-top: 26px;
	justify-content: center;
	transition: 0.3s;
}
.projects-block {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 288px;
	height: 248px;
	overflow: hidden;
	transition: 0.3s;
}
.projects-block:hover {
	transform: scale(1.05);
}
/* Плейсхолдер */
.projects-1 {background: url('../img/projects/projects-1.jpg') no-repeat center center;background-size: cover;}
.projects-2 {background: url('../img/projects/projects-2.jpg') no-repeat center center;background-size: cover;}
.projects-3 {background: url('../img/projects/projects-3.jpg') no-repeat center center;background-size: cover;}
.projects-4 {background: url('../img/projects/projects-4.jpg') no-repeat center center;background-size: cover;}
.projects-5 {background: url('../img/projects/projects-5.jpg') no-repeat center center;background-size: cover;}
.projects-6 {background: url('../img/projects/projects-6.jpg') no-repeat center center;background-size: cover;}
.projects-7 {background: url('../img/projects/projects-7.jpg') no-repeat center center;background-size: cover;}
.projects-8 {background: url('../img/projects/projects-8.jpg') no-repeat center center;background-size: cover;}
.projects-9 {background: url('../img/projects/projects-9.jpg') no-repeat center center;background-size: cover;}
.projects-10 {background: url('../img/projects/projects-10.jpg') no-repeat center center;background-size: cover;}
/*             */
.projects-text {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 12px;
	box-sizing: border-box;
	width: 100%;
	min-height: 88px;
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-backdrop-filter: blur(10px); /* Работает только в браузере Microsoft Edge */
}
.projects-text h2 {
	text-align: center
}

.contacts-block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 24px 0;
}
.contacts-block span {
	display: block;
	margin: 6px 0;
}
.contacts-position {
	font-style: italic;
	color: #777;
	width: 100%;
}
.contacts-name {
	font-weight: bold;
	width: 100%;
}
.contacts-phone {
	width: 100%;
}
.contacts-phone:before {
	display: inline-block;
	content: '';
	width: 16px;
	height: 16px;
	background: url('../img/icons/phone.svg') no-repeat center center;
	background-size: cover;
	margin-right: 12px;
}
.contacts-email {
	width: 100%;
}
.contacts-email:before {
	display: inline-block;
	content: '';
	width: 16px;
	height: 16px;
	background: url('../img/icons/email.svg') no-repeat center center;
	background-size: cover;
	margin-right: 12px;
}
.contacts-map {
	margin: 12px -5vw 0 -5vw;
	height: 200px;
}
#map {
	width: 100%;
	height: 200px;
}
.comments {
	width: 100vw;
	box-sizing: border-box;
}
.contacts-comments {
	padding: 60px 5vw;
	max-width: 1224px;
	margin: 0 auto;
}

.club-content {
	display: grid;
	grid-template-columns: 100%;
	padding: 60px 5vw;
	max-width: 1224px;
	margin: 0 auto;
}
.club-image {
	display: flex;
	justify-content: center;
	margin-top: 36px;
	width: 100%;
	box-sizing: border-box;
}
.club-image img {
	width: 100%;
	height: 100%;
	max-width: 600px;
}
.club-writers-wall {
	display: grid;
	grid-template-columns: repeat(auto-fit, 136px);
	grid-column-gap: 16px;
	margin-top: 36px;
	justify-content: center;
}
.club-writers-block {
	width: 136px;
	height: 276px;
	margin-bottom: 24px;
	transition: 0.3s;
}
.club-writers-image {
	width: 136px;
	height: 192px;
	margin-bottom: 12px;
	transition: 0.3s;
}
.writers-1 {background: url('../img/photos/club-writers-1.jpg') no-repeat center center; background-size: cover;}
.writers-2 {background: url('../img/photos/club-writers-2.jpg') no-repeat center center; background-size: cover;}
.writers-3 {background: url('../img/photos/club-writers-3.jpg') no-repeat center center; background-size: cover;}
.writers-4 {background: url('../img/photos/club-writers-4.jpg') no-repeat center center; background-size: cover;}
.writers-5 {background: url('../img/photos/club-writers-5.jpg') no-repeat center center; background-size: cover;}
.writers-6 {background: url('../img/photos/club-writers-6.jpg') no-repeat center center; background-size: cover;}
.club-writers-block span {
	font-weight: bold;
	line-height: 1.5;
}

.events-slider {
	margin-top: 24px;
	margin-bottom: 48px;
}
.events-slide {
	display: block;
	width: 288px;
	height: 256px;
	margin-right: 24px;
}
.events-slide h4 {
	height: 56px;
}
.events-slide-image {
	width: 288px;
	height: 160px;
}

.books-popular {
	width: 100vw;
}

.book {
	width: 100vw;
}
.first-block {
	padding-top: 0;
}
.book-author {
	font-size: 18px;
	font-style: italic;
	color: #777;
}
.book-cover {
	width: 184px;
	height: 260px;
	margin-top: 36px;
}
.book-description p {
	margin: 24px 0;
}
.button, .book-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 216px;
	height: 42px;
	background-color: transparent;
	border: 1px solid #356d97;
	border-radius: 21px;
	box-sizing: border-box;
	transition: 0.3s;
}
.book-button {
	width: 151px;
}
.button span, .book-button span {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	color: #356d97;
	transition: 0.3s;
}
.button span:after {
	display: inline-block;
	content: '';
	margin-left: 12px;
	width: 0.7em;
	height: 0.7em;
	background: url('../img/icons/link-arrow.svg') no-repeat center center;
	background-size: cover;
	transition: 0.3s;
}
.button:disabled, .book-button:disabled {
	border-color: #6891b0;
}
.button:disabled span, .book-button:disabled span {
	color: #6891b0;
}
.button:disabled span:after {
	opacity: 0.75;
}
.button:hover:enabled {
	background-color: #356d97;
}
.button:hover:enabled span {
	color: #fff;
}
.button:hover:enabled span:after {
	background: url('../img/icons/link-arrow-white.svg') no-repeat center center;
	background-size: cover;
}

footer {
	max-width: 100%;
}
.footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1224px;
	margin: 0 auto;
	padding: 24px 5vw;
}
footer p {
	margin: 24px 0;
	font-size: 14px;
	line-height: 1.3;
	text-align: center;
}
.policy {
	text-decoration: underline;
	font-size: 14px;
	color: #806020;
}
.fresco {
	display: block;
	width: 80px;
	height: 18px;
	margin-top: 24px;
	background: url('../img/icons/fresco.svg') no-repeat center center;
	background-size: cover;
}

.hidden {
	display: none;
}
.gray-bg {
	background-color: #f2f2f2;
}

/* Пользовательские стили слайдеров */
.about-slider, .events-slider, .books-slider, .books-popular-slider, .articles-slider {
	outline: none;
}
.about-content .slick-dotted.slick-slider {
	margin-bottom: 0;
}
.slick-dots {
	bottom: -35px;
}
.slick-dots li {
	margin: 0;
}
.slick-dots li button {

}
.slick-dots li button:before {
	content: '';
	width: 8px;
	height: 8px;
	top: 50%;
	left: 50%;
	margin: -4px 0 0 -4px;
	opacity: 1;
	border: 1px solid #356d97;
	border-radius: 50%;
	box-sizing: border-box;
	transition: background-color 0.3s;
}
.slick-dots li.slick-active button {

}
.slick-dots li.slick-active button:before {
	opacity: 1;
	background-color: #356d97;
	transition: background-color 0.3s;
}
.about-slider .slick-dots {
	bottom: 15px;
}
.about-slider .slick-dots li button:before {
	border: 1px solid #fff;
}
.about-slider .slick-dots li.slick-active button:before {
	background-color: #fff;
}

.parking {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 5vw;
}
.parking .logo {
	margin-top: 35px;
	margin-bottom: 60px;
}
.parking .hr-content {
	padding: 0;
}
.parking h1 {
	margin-top: 54px;
	text-align: center;
}

/* Разделительная линия */
.hr {
	max-width: 100%;
	width: 100vw;
}
.hr-content {
	max-width: 1224px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 0 5vw;
}
.m-diamond {
	width: 9px;
	height: 9px;
	border: 1px solid #bbb;
	box-sizing: border-box;
	transform: rotate(45deg);
}
.s-diamond {
	width: 5px;
	height: 5px;
	background-color: #bbb;
	transform: rotate(45deg);
	margin: 0 15px;
}
.hr-line {
	width: calc(50% - 39px);
	height: 1px;
	background-color: #bbb;
}
.hr-b-line {
	width: 100%;
	height: 1px;
	background-color: #bbb;
}

@media (min-width: 750px) {
	header {
		position: static;
		flex-direction: column;
		max-width: 1224px;
		height: 154px;
		padding: 24px 6vw 0 6vw;
	}
	.logo {
		margin-left: 0;
	}
	.logo-image {
		width: 72px;
		height: 58px;
	}
	.logo-text-upper {
		font-size: 16px;
		line-height: 1;
		letter-spacing: 1.1px;
	}
	.logo-text-lower {
		font-size: 24px;
		letter-spacing: 3px;
	}
	.header-logo-text {
		display: inherit;
		font-size: 20px;
	}
	.compact {
		width: auto;
		font-size: 30px;
	}
	.nav-button {
		display: none;
	}
	nav {
		display: block !important;
		position: static;
		width: 100%;
		height: auto;
		margin: 0;
	}
	nav ul {
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		align-items: flex-start;
		width: 100%;
		height: auto;
		padding-bottom: 0;
		border-top: 1px solid rgba(128, 96, 32, 0.5);
	}
	nav li {
		display: inline;
	}
	nav li a {
		display: inline-block;
		padding: 12px 0;
	}

	.events-container {
		grid-template-columns: repeat(2, calc(50% - 12.5px));
	}
	.m-short a:nth-child(4) {
		display: flex;
	}

	.post-comments-form form {
		grid-template-rows: 40px auto 40px;
		grid-template-columns: auto auto;
		grid-column-gap: 24px;
		grid-template-areas: 
			"name email"
			"text text"
			"submit submit";
	}
	.comments-name, .comments-email {
		width: 100%;
		height: 42px;
		margin-left: 0;
		margin-right: 0;
		box-sizing: border-box;
	}
	.comments-name {
		grid-area: name;
	}
	.comments-email {
		grid-area: email;
	}
	.comments-text {
		max-width: 600px;
		grid-area: text;
	}
	.comments-submit {
		grid-area: submit;
	}

	.position {
		margin: 0;
	}
	.position-content {
		padding: 36px 7.5vw;
	}

	.organization {
		display: flex;
		align-items: flex-start;
	}
	.organization-wrap {
		padding: 0 7.5vw;
	}

	.about-content, .events-content, .materials-content, .projects-content, .contacts-content, .club-content, .club-writers-content, .books-popular-content, .books-wall-content, .book-content {
		padding: 60px 7.5vw;
	}

	.main {
		margin: 0;
	}
	.main-content {
		padding: 100px 7.5vw;
		/*width: 80%;*/
		max-width: 600px;
	}
	.main-content h1 {
		max-width: 343px;
	}

	.about-article {
		width: 100%;
	}

	.show-more {
		margin-top: 60px;
	}

	.materials {
		display: flex;
		flex-direction: row;
	}
	.materials-content {
		max-width: 1224px;
		width: calc(85% - 2.5px);
    	margin: 0 auto;
	}
	.books-content {
		width: 100%;
		padding: 24px 0;
		box-sizing: border-box;
	}
	.articles-content {
		width: 100%;
		/*padding: 60px 7.5vw 60px 12px;*/
		padding: 24px 0;
		box-sizing: border-box;
	}

	.post {
		display: flex;
		align-items: flex-start;
	}
	.post-wrap {
		padding: 0 7.5vw;
	}
	.post-comments-block {
		margin: 26px 0;
		margin-bottom: 60px;
		grid-template-rows: 36px auto;
		grid-row-gap: 0;
		grid-template-areas: 
			"avatar name"
			"avatar text";
	}
	.post-comments-info {
		flex-direction: row;
	}
	.post-comments-author {
		margin-right: 24px;
	}
	.post-comments-date {
		margin-top: 6px;
	}
	.post-comments-block p {
		/*width: calc(100% - 96px);*/
	}

	.projects-block {
		height: 406px;
	}

	.contacts {
		width: 100vw;
	}
	.contacts-phone {
		width: auto;
		padding-right: 36px;
		box-sizing: border-box;
	}
	.contacts-email {
		width: 50%;
	}
	.contacts-map {
		margin-left: -7.5vw;
		margin-right: -7.5vw;
		height: 375px;
	}
	#map {
		height: 375px;
	}
	.contacts-comments {
		padding: 60px 7.5vw;
	}

	.club-writers-block {
		width: 184px;
		height: 344px;
	}
	.club-writers-wall {
		grid-template-columns: repeat(auto-fit, 184px);
		grid-column-gap: 24px;
	}
	.club-writers-image {
		width: 184px;
		height: 260px;
	}

	.books-slide {
		margin-right: 18px;
	}
	.books-popular-content {
		padding-bottom: 0;
	}
	.books-wall-list {
		grid-template-columns: repeat(auto-fit, 184px);
		grid-column-gap: 24px;
		max-height: 804px;
		overflow: hidden;
		justify-content: center
	}
	.books-wall-list .books-block {
		width: 184px;
		min-height: 384px;
	}
	.books-wall-list .books-image-block {
		width: 184px;
		height: 260px;
	}
	.book-content {
		grid-template-columns: 288px minmax(10%, 600px);
		grid-template-rows: minmax(148px, auto) auto;
		grid-template-areas: 
			"cover headline"
			"cover paragraph";
		grid-column-gap: 60px;

	}
	.book-headline, .book-description {
		/*width: calc(100% - 348px);  Зависит от ширины и горизонтальных отступов .book-cover */
		max-width: 600px;
	}
	.book-headline {
		grid-area: headline;
	}
	.book-cover {
		grid-area: cover;
		order: -1;
		width: 288px;
		height: 407px;
		margin: 0;
	}
	.book-description {
		grid-area: paragraph;
	}

	footer {
		
	}
	.footer-content {
		justify-content: space-between;
		padding: 24px 7.5vw;
		flex-wrap: wrap;
	}
	footer p {
		
	}
	.fresco {
		
	}

	.first-block {
		padding-top: 0;
	}

	.parking {
		position: absolute;
		top: 20%;
		left: calc(50% - 300px);
		max-width: 600px;
		padding: 0;
	}

	.hr {

	}
	.hr-content {
		padding: 0 7.5vw;
	}
	.materials .hr-content {
		padding: 0;
	}
}

@media (min-width: 1150px) {
	.main-content {
		/*width: 40%;*/
		max-width: 1224px;
		margin: 0 auto;
	}
	.main-content p {
		max-width: 600px;
	}
	.about-content {
		grid-template-columns: calc(50% - 12px) calc(50% - 12px);
		grid-template-areas: 
			"headline slider"
			"text slider";
		grid-column-gap: 24px;
		grid-row-gap: 0;
	}
	.about-slider {
		order: 3;
		margin: 0;
		grid-area: slider;
		align-self: flex-start;
	}
	.about-article {
		
	}
	.materials-content {
		flex-direction: row;
	}
	.books-content {
		width: 392px;
		/*width: 33%;
		padding: 60px 12px 60px 7.5vw;*/
		padding: 24px 16px;
	}
	.materials .hr {
		display: none;
	}
	.articles-content {
		width: calc(100% - 392px - 24px);
		margin-left: 24px;
		padding: 24px 16px;
	}
	.organization-content {
		margin-right: 104px;
	}
	.post-wrap {
		display: flex;
	}
	.post-content {
		margin-right: 104px;
	}
	.sidebar {
		display: block;
	}
	.events-sidebar, .projects-sidebar {
		display: block;
		padding-top: 0;
	}

	.events-container {
		grid-template-columns: repeat(3, calc(33.3% - 15.5px));
	}
	.m-short a:nth-child(1n+4) {
		display: flex;
	}

	#map {
		max-width: 600px;
	}

	footer {
		
	}
	.footer-content {
		flex-direction: row;
		justify-content: space-between;
		padding: 24px 7.5vw;
	}
	footer p {
		margin: 0;
	}
	.fresco {
		margin: 0;
	}

	.contacts-list, .contacts-map {
		width: 50%;
	}
	.contacts-map {
		margin: 0;
		height: 375px;
	}
	.contacts-content {
		flex-direction: row;
	}

	.club-headline, .club-article {
		width: 100%;
		padding-right: 12px;
		box-sizing: border-box;
	}
	.club-image {
		max-width: 100%;
		max-height: 100%;
		padding-left: 12px;
		margin-top: 0;
		grid-area: image;
		align-self: flex-start;
	}
	.club-content {
		grid-template-columns: calc(50% - 12px) calc(50% - 12px);
		grid-template-areas: 
			"headline image"
			"text image";
		grid-column-gap: 24px;
	}

	.first-block {
		padding-top: 0;
	}
	.contacts-comments {
		margin-top: 0;
	}
}
.main, .about, .events, .materials, .position, .organization, .events, .projects, .post, .books-popular, .books-wall, .book, .comments, .club, .club-writers, .contacts, footer {
	max-width: 100%;
}